


h1 {
   color: #ea9a96;
} 
h2 {
    color: #ffd3e1;
}
h3 {
    color: #ea9a96;
}
.top-container {
    background-color: #ffd3e1;
}
.bottom-container {
    background-color: #ffd3e1;
}
.footer-link {
    color: #ea9a96;
}

.footer-link:hover {
    color: #ea9a96;
}

.laicheehoong {
    color: #ffd3e1;
}
.btn {
    background: #ffd3e1;
    background-image: linear-gradient(to bottom, #f3d7e0, #ebbbb8);
}

.btn:hover {
    background: #ddc8ce;
    background-image: linear-gradient(to bottom, #e0c7cf, #e9b9b6);
}